<!-- SIDEBAR -->

<div class="absolute left-0 top-0 bottom-0 w-64 bg-zinc-900">
  <div class="w-full h-full">
    
    <!-- logo start -->
    <div class="w-full h-16 flex justify-center items-center text-white border-b border-zinc-700">
      <span class="text-xl font-semibold">AssistAI</span>
    </div>
    <!-- logo end -->
    
    <!-- navigation start -->
    <div class="w-full px-2 mt-10">
      <ul>
        <div class="w-full border-b border-b-zinc-800"></div>
        <li>
          <a href="{% url 'dashboard-page' %}" class="flex items-center space-x-3 px-4 py-3 text-white rounded-sm hover:bg-zinc-800">
            <span class="text-lg">🎃</span>
            <span>Dashboard</span>
          </a>
        </li>
        <div class="w-full border-b border-b-zinc-800"></div>
        <li>
          <a href="{% url 'telegram-bots-list' %}" class="flex items-center space-x-3 px-4 py-3 text-white rounded-sm hover:bg-zinc-800">
            <span class="text-lg">🤖</span>
            <span>Telegram Bots</span>
          </a>
        </li>
        <div class="w-full border-b border-b-zinc-800"></div>
        <li>
          <a href="{% url 'assistants-list' %}" class="flex items-center space-x-3 px-4 py-3 text-white rounded-sm hover:bg-zinc-800">
            <span class="text-lg">👽</span>
            <span>AI Assistants</span>
          </a>
        </li>
        <div class="w-full border-b border-b-zinc-800"></div>
        <li>
          <a href="{% url 'dashboard-page' %}" class="flex items-center space-x-3 px-4 py-3 text-white rounded-sm hover:bg-zinc-800">
            <span class="text-lg">😎</span>
            <span>Profile</span>
          </a>
        </li>
        <div class="w-full border-b border-b-zinc-800"></div>
      </ul>
    </div>
    <!-- navigation end -->

    <!-- logout start -->
    <div class="w-full px-2 mt-10">
      <a href="{% url 'account_logout' %}" class="flex justify-center items-center rounded-md py-3 text-white bg-zinc-700">Logout</a>
    </div>
    <!-- logout end -->
  
  </div>
</div>